.my_account_page {
  height: 100%;
  .page_title {
    font-size: 3.375rem;
    line-height: 1.07em;
    letter-spacing: -1px;
    padding: 1.48em 0;
    font-weight: 500;
    text-align: center;
  }
  .container {
    display: flex;
    width: 100%;
    .sidenav {
      display: flex;
      flex-direction: column;
      padding: 2.5em 1em;
      gap: 2.5em;
      background-color: #f3f5f7;
      flex: 1;
      max-width: 16.375em;
      max-height: max-content;

      .profile_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .avatar_wrapper {
          .avatar {
            width: 5.125em;
            height: 5.125em;
          }
        }
        .profile_name {
          font-size: 1.25rem;
          line-height: 1.6em;
          font-weight: 600;
          padding-top: 0.3em;
        }
      }

      .nav_block {
        font-size: 1rem;
        line-height: 1.75em;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        gap: 0.75em;

        .nav_link {
          cursor: pointer;
          color: #6c7275;
          margin: 0.5em 0;
          border-bottom: 1px solid transparent;
          transition: all 0.3s ease-in;

          &_active {
            color: #141414;
            border-bottom: 1px solid #141414;
          }
        }
      }
    }
    .component {
      flex: 1;
      // max-width: 44.1875em;
      max-width: 65%;
      margin: 0 auto;
    }
  }
}
