.footer_component {
  font-size: 0.875rem;
  line-height: 1.57em;
  padding: 5.71em 0 2.285em 0;
  background-color: #000000;
  color: #ffffff;

  .top,
  .bottom {
    max-width: 1120px;
    margin: 0 auto;

    @media screen and (max-width: 1120px) {
      max-width: 768px;
    }
    @media screen and (max-width: 768px) {
      max-width: 480px;
    }
  }

  .top {
    display: grid;
    grid-template-columns: auto auto 1.5fr 2fr;
    margin-bottom: 3.5em;

    .brand_logo {
      filter: invert(100%);
      height: 1.71em;
    }

    .divider {
      border-right: 1px solid #6c7275;
      margin: 0 2.285em;
    }

    .footer_nav {
      display: flex;
      gap: 2.857em;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
    }
  }

  .bottom {
    font-size: 0.75rem;
    line-height: 1.66em;
    display: flex;
    gap: 2.33em;
    padding-bottom: 1.66em;
    padding-top: 1.33em;
    border-top: 1px solid #6c7275;

    .bold {
      font-weight: 600;
      cursor: pointer;
    }
  }
}
